body {
    background-color: brown;
}

.box {
    background-color: teal;
    border: 11px solid azure;
    position: absolute;
    height: 100px;
    width: 100px;
    text-align: center;
    min-width: 1em;
    min-height: 1em;
}